# Start Daemon (Registry directories should already be present)
service mobicore /vendor/bin/mcDriverDaemon --P1 /mnt/vendor/persist/mcRegistry \
    -r /vendor/app/mcRegistry/020f0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/05120000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/020b0000000000000000000000000000.drbin \
    -r /odm/vendor/app/mcRegistry/05070000000000000000000000000000.drbin \
    -r /odm/vendor/app/mcRegistry/030b0000000000000000000000000000.drbin \
    -r /odm/vendor/app/mcRegistry/030c0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/07060000000000000000000000007169.drbin \
    -r /vendor/app/mcRegistry/40188311faf343488db888ad39496f9a.drbin \
    -r /vendor/app/mcRegistry/06090000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/0f5eed3c3b5a47afacca69a84bf0efad.drbin \
    -r /vendor/app/mcRegistry/07407000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/9073f03a9618383bb1856eb3f990babd.drbin \
    -r /vendor/app/mcRegistry/6b3f5fa0f8cf55a7be2582587d62d63a.drbin \
    -r /vendor/app/mcRegistry/5020170115e016302017012521300000.drbin \
    -r /odm/vendor/app/mcRegistry/09070000000000000000000000000000.drbin
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
    
on fs
    # Create the mountpoint for /mnt/vendor/persist partition
    mkdir /mnt/vendor/persist 0771 system system
    
    # Mount the persist partition on /mnt/vendor/persist
    mount ext4 /dev/block/by-name/persist /mnt/vendor/persist rw

on post-fs
    chown system system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist

    # We restorecon /mnt/vendor/persist to set SEPolicy label.
    restorecon /mnt/vendor/persist

    # Create mcRegistry to store failure record
    mkdir /mnt/vendor/persist/mcRegistry 0771 system system

    write /proc/bootprof "MOBICORE: Starting mcDriverDaemon"
    start mobicore
    
on post-fs-data
    # Create /data/vendor/key_provisioning dir and get proper encryption policy installed
    # Key Installation
    mkdir /data/vendor/key_provisioning 0771 system system

# For META/FACTORY mode
on property:ro.crypto.state=unencrypted
    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry ++ (unencrypted)"
    mkdir /data/vendor/mcRegistry 0775 system system
    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry -- (unencrypted)"

# Normal mode, FBE
on property:ro.crypto.type=file
    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry ++ (FBE encrypted)"
    mkdir /data/vendor/mcRegistry 0775 system system
    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry -- (FBE encrypted)"

# Normal mode, FDE
on property:ro.crypto.type=block
    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry ++ (FDE encrypted)"
    mkdir /data/vendor/mcRegistry 0775 system system
    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry -- (FDE encrypted)"
