on init
    # create the mountpoint for /mnt/vendor/persist partition
    mkdir /mnt/vendor/persist 0771 system system

on post-fs
    chown system system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist

    # We restorecon /mnt/vendor/persist to set SEPolicy label.
    restorecon /mnt/vendor/persist

    mkdir /mnt/vendor/persist/mcRegistry 0771 system system
    chown system system /mnt/vendor/persist/mcRegistry/Store_1.tf

on fs
    install_keyring
    write /sys/class/power_supply/usb/otg_switch 1
    write /sys/class/oplus_chg/usb/otg_switch 1

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc log
    disabled
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
    start hal_cryptoeng_oppo
    start mobicore
    start keymaster-4-0
    start gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop hal_cryptoeng_oppo
    stop mobicore
    stop keymaster-4-0
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:ro.crypto.state=unencrypted
    stop hal_cryptoeng_oppo
    stop mobicore
    stop keymaster-4-0
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:twrp.decrypt.done=true
    stop hal_cryptoeng_oppo
    stop mobicore
    stop keymaster-4-0
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on post-fs-data
    mkdir /data/vendor_de 0770 system system
    mkdir /data/vendor_de/0 0770 system system
    mkdir /data/vendor_de/0/cryptoeng 0770 system system

on boot
    start health-hal-2-1
    ifup lo
    hostname localhost
    domainname localdomain

    exec u:r:recovery:s0 root root -- /system/bin/cp -arf /vendor/app/mcRegistry/. /odm/vendor/app/mcRegistry/

on firmware_mounts_complete
   rm /dev/.booting

# Mount filesystems and start core system services.
on late-init
    trigger early-fs
    trigger fs
    trigger post-fs
    trigger post-fs-data

    # Remove a file to wake up anything waiting for firmware
    trigger firmware_mounts_complete

    trigger early-boot
    trigger boot

service charger /system/bin/charger
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service
    seclabel u:r:recovery:s0

service hal_cryptoeng_oppo /system/bin/vendor.oplus.hardware.cryptoeng@1.0-service
    seclabel u:r:recovery:s0

service keymaster-4-0 /system/bin/android.hardware.keymaster@4.0-service.trustonic
    seclabel u:r:recovery:s0

service mobicore /system/bin/mcDriverDaemon --P1 /mnt/vendor/persist/mcRegistry \
    -r /vendor/app/mcRegistry/020f0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/05120000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/020b0000000000000000000000000000.drbin \
    -r /odm/vendor/app/mcRegistry/05070000000000000000000000000000.drbin \
    -r /odm/vendor/app/mcRegistry/030b0000000000000000000000000000.drbin \
    -r /odm/vendor/app/mcRegistry/030c0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/07060000000000000000000000007169.drbin \
    -r /vendor/app/mcRegistry/40188311faf343488db888ad39496f9a.drbin \
    -r /vendor/app/mcRegistry/06090000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/0f5eed3c3b5a47afacca69a84bf0efad.drbin \
    -r /vendor/app/mcRegistry/07407000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/9073f03a9618383bb1856eb3f990babd.drbin \
    -r /vendor/app/mcRegistry/6b3f5fa0f8cf55a7be2582587d62d63a.drbin \
    -r /vendor/app/mcRegistry/5020170115e016302017012521300000.drbin \
    -r /odm/vendor/app/mcRegistry/09070000000000000000000000000000.drbin
    seclabel u:r:recovery:s0

on property:enable.fbe.service=0
    stop hal_cryptoeng_oppo
    stop mobicore
    stop servicemanager
    stop hwservicemanager
    stop keymaster-4-0
    stop gatekeeperd
    stop gatekeeper-1-0
