firmware_directories /etc/firmware/ /odm/firmware/ /vendor/firmware/ /firmware/image/
uevent_socket_rcvbuf_size 16M

subsystem graphics
    devname uevent_devpath
    dirname /dev/graphics

subsystem drm
    devname uevent_devpath
    dirname /dev/dri

subsystem input
    devname uevent_devpath
    dirname /dev/input

subsystem sound
    devname uevent_devpath
    dirname /dev/snd

# ueventd can only set permissions on device nodes and their associated
# sysfs attributes, not on arbitrary paths.
#
# format for /dev rules: devname mode uid gid
# format for /sys rules: nodename attr mode uid gid
# shortcut: "mtd@NN" expands to "/dev/mtd/mtdNN"

/dev/null                 0666   root       root
/dev/zero                 0666   root       root
/dev/full                 0666   root       root
/dev/ptmx                 0666   root       root
/dev/tty                  0666   root       root
/dev/random               0666   root       root
/dev/urandom              0666   root       root
# Make HW RNG readable by group system to let EntropyMixer read it.
/dev/hw_random            0440   root       system
/dev/ashmem*              0666   root       root
/dev/binder               0666   root       root
/dev/hwbinder             0666   root       root
/dev/vndbinder            0666   root       root

/dev/pmsg0                0222   root       log

# kms driver for drm based gpu
/dev/dri/*                0666   root       graphics

# these should not be world writable
/dev/uhid                 0660   uhid       uhid
/dev/uinput               0660   uhid       uhid
/dev/rtc0                 0640   system     system
/dev/tty0                 0660   root       system
/dev/graphics/*           0660   root       graphics
/dev/input/*              0660   root       input
/dev/v4l-touch*           0660   root       input
/dev/snd/*                0660   system     audio
/dev/bus/usb/*            0660   root       usb
/dev/mtp_usb              0660   root       mtp
/dev/usb_accessory        0660   root       usb
/dev/tun                  0660   system     vpn

# CDMA radio interface MUX
/dev/ppp                  0660   radio      vpn

#ifdef OPLUS_FEATURE_STORAGE_TOOL
#Xuweijie1@BSP.Storage , 20200601. add for Memory Monitor
/dev/sg3         0600   system     system
/dev/block/mmcblk0p1 0600   system     system
#endif /* OPLUS_FEATURE_STORAGE_TOOL */

# sysfs properties
/sys/devices/platform/trusty.*      trusty_version        0440  root   log
/sys/devices/virtual/input/input*   enable      0660  root   input
/sys/devices/virtual/input/input*   poll_delay  0660  root   input
/sys/devices/virtual/usb_composite/*   enable      0664  root   system
/sys/devices/system/cpu/cpu*   cpufreq/scaling_max_freq   0664  system system
/sys/devices/system/cpu/cpu*   cpufreq/scaling_min_freq   0664  system system

# Change partition permission
# eMMC only
/dev/block/mmcblk0                               0660    root    system
/dev/block/mmcblk0boot0                          0660    root    system
/dev/block/mmcblk0boot1                          0660    root    system
/dev/misc-sd                                     0660    root    system

# UFS only
/dev/block/sda                                   0660    root    system
/dev/block/sdb                                   0660    root    system
/dev/block/sdc                                   0660    root    system

# eMMC/UFS common
/dev/block/platform/bootdevice/by-name/misc2     0660    root    system
/dev/block/platform/bootdevice/by-name/boot      0640    root    system
/dev/block/platform/bootdevice/by-name/recovery  0640    root    system
/dev/block/platform/bootdevice/by-name/secro     0640    root    system
/dev/block/platform/bootdevice/by-name/seccfg    0660    root    system
/dev/block/platform/bootdevice/by-name/proinfo   0660    root    system
/dev/block/platform/bootdevice/by-name/nvram     0660    root    system
/dev/block/platform/bootdevice/by-name/para      0660    root    system
/dev/block/platform/bootdevice/by-name/logo      0660    root    system
/dev/block/platform/bootdevice/by-name/frp       0660    root    system
/dev/block/platform/bootdevice/by-name/md1img    0640    root    system
/dev/block/platform/bootdevice/by-name/md1img_a  0640    root    system
/dev/block/platform/bootdevice/by-name/md1img_b  0640    root    system
/dev/block/platform/bootdevice/by-name/md1dsp    0660    root    system
/dev/block/platform/bootdevice/by-name/boot_para 0640    root    system

# OTP
/dev/otp                  0660   system     system
/dev/block/platform/bootdevice/by-name/otp       0660    root    system

# Connectivity
/dev/stpwmt               0660   system     system
/dev/wmtdetect            0660   system     system
/dev/fw_log_wmt           0660   system     system
/dev/conninfra_dev        0660   system     system

# BT
/dev/stpbt                0660   bluetooth  bluetooth
/dev/fw_log_bt            0660   bluetooth  bluetooth

# GPS
/dev/gpsdl0               0660   gps        gps
/dev/gpsdl1               0660   gps        gps
/dev/stpgps               0660   gps        gps
/dev/gps                  0660   gps        system
/dev/gps_emi              0660   gps        gps

# ANT
/dev/stpant               0660   system     system

# WIFI
/dev/wmtWifi              0660   wifi     wifi
/dev/fw_log_wifi          0660   wifi     wifi

# FMRadio
/dev/fm                   0660   media     media

# NFC
/dev/st21nfc              0660   nfc        radio
/dev/st54spi              0660   secure_element        secure_element

# MTK BTIF driver
/dev/btif                 0600   system     system

# Trusty driver
/dev/trusty-ipc-dev0      0660   system     system
/dev/nebula-ipc-dev0      0660   system     system

# RPMB (for Trusty)
/dev/block/mmcblk0rpmb    0660   root       system

# TrustonicTEE driver
/dev/mobicore             0600   system     system
/dev/mobicore-user        0666   system     system
/dev/t-base-tui           0666   system     system

#v4l2 device
/dev/video*      0660 camera system
/dev/media*      0660 camera system
/dev/v4l-subdev* 0660 camera system

#v4l2 codec
/dev/vcu    0660 camera system

#v4l2 camera
/dev/mtk_hcp     0660 camera system

# DRM node
/dev/dri/card0            0660   system     system

# MDDP node
/dev/mddp                 0660   system     system

# add the read write right of ttyUSB*
/dev/bus/usb/*     	  0660   root       usb
/dev/ttyUSB0              0660   radio      radio
/dev/ttyUSB1              0660   radio      radio
/dev/ttyUSB2              0660   radio      radio
/dev/ttyUSB3              0660   radio      radio
/dev/ttyUSB4              0660   radio      radio

# Anyone can read the logs, but if they're not in the "logs"
# group, then they'll only see log entries for their UID.
/dev/log/ksystem          0600   root       log

/dev/ccci*                0660   radio      radio
/dev/ttyC*                0660   radio      radio
/sys/kernel/ccci          modem_info   0644   radio       radio
/sys/kernel/ccci          md1_postfix  0644   radio       radio
/sys/kernel/ccci          md2_postfix  0644   radio       radio
/dev/eemcs*               0660   radio      radio
/dev/emd*                 0660   radio      radio
/dev/ccci_pcm_rx          0660   audio      audio
/dev/ccci_pcm_tx          0660   audio      audio
/dev/ccci_aud             0660   audio      audio
/dev/ccci2_aud            0660   audio      audio
/dev/ccci3_aud            0660   audio      audio
/dev/ccci_raw_audio            0660   audio      audio
/dev/ccci3_raw_audio            0660   audio      audio
/dev/eemcs_aud            0660   audio      audio
/dev/irtx                 0660   system     system
/dev/ir-learning          0660   system     system
# SGX device node
/dev/pvrsrvkm             0666   root       root
/dev/pvr_sync             0666   root       root

#GPIO
/dev/mtgpio               0600   radio      root

# Camera
/dev/camera_eeprom*       0660   system     camera

#FOR VIA MODEM
/dev/ttySDIO*             0660   radio      sdcard_rw
/dev/ttyRB*               0660   radio      radio

# Mali node
/dev/mali                 0666   system     graphics

# Change ION driver permission
/dev/ion                  0666   system     graphics

#touch
/dev/touch                0660   root       system
/dev/hotknot              0660   root       system

#hang_detect
/dev/RT_Monitor           0660   system     system
/dev/kick_powerkey        0660   system     system

#MTK In-House TEE
/dev/ttyACM0              0660   radio      radio
